<div class="container mt-5">
  <h2 class="mb-4">会員情報編集</h2>

  <%= form_with model: @customer, url: customer_path(@customer), method: :patch, local: true do |f| %>
    <% render "public/shared/error_messages", resource: @customer %>

     <div class="row">
          <label class="col-lg-3">名前</label>
          <div class="col-lg-3">
            <%= f.text_field :name,autoforcus: true, autocomplete: "last_name",  placeholder: "令和 道子" %>
          </div>
        </div><br>

      <div class="row">
        <label class="col-lg-3">フリガナ</label>
        <div class="col-lg-3">
          <%= f.text_field :kana_name,autoforcus: true, autocomplete: "kana_first_name",  placeholder: "レイワ ミチコ" %>
        </div>
      </div><br>

       <div class="row">
        <label class="col-lg-3">郵便番号（ハイフンなし）</label>
        <div class="col-lg-3">
          <%= f.text_field :post_code,autoforcus: true, autocomplete: "post_code",  placeholder: "0000000" %>
        </div>
      </div><br>

      <div class="row">
        <label class="col-lg-3">住所</label>
        <div class="col-lg-3">
          <%= f.text_field :address,autoforcus: true, autocomplete: "address",  placeholder: "東京都渋谷区代々木神園町0-0" %>
        </div>
      </div><br>

      <div class="row">
        <label class="col-lg-3">電話番号（ハイフンなし）</label>
        <div class="col-lg-3">
          <%= f.text_field :phone_number,autoforcus: true, autocomplete: "phone_number",  placeholder: "0000000000" %>
        </div>
      </div><br>

     <div class="row">
        <label class="col-lg-3">メールアドレス</label>
        <div class="col-lg-3">
          <%= f.text_field :email,autoforcus: true, autocomplete: "email",  placeholder: "sample@exanple.com" %>
        </div>
      </div><br>

    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-9 d-flex justify-content-between">
        <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
      </div>
      <div class="justify-content-center">
        <%= link_to '退会する', withdraw_customers_path, method: :get, class: 'btn btn-danger btn-lg' %>
      </div>
    </div>

  <% end %>

</div>
