<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <h1 class="mb-4">マイページ</h1>

      <h2>登録情報</h2>
      <%= link_to '登録情報編集', edit_exective_registration_path(@exective), class: "btn btn-success mb-4" %>

      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th class="table-secondary w-25">氏名</th>
            <td><%= @exective.name %></td>
          </tr>
          <tr>
            <th class="table-secondary">カナ</th>
            <td> <%= @exective.kana_name %></td>
          </tr>
          <tr>
            <th class="table-secondary">郵便番号</th>
            <td><%= @exective.post_code.to_s.insert(3, "-") %></td>
          </tr>
          <tr>
            <th class="table-secondary">住所</th>
            <td><%= @exective.address %></td>
          </tr>
          <tr>
            <th class="table-secondary">電話番号</th>
            <td><%= @exective.phone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary">メールアドレス</th>
            <td><%= @exective.email %></td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
