<div class="container">
  <div class="row">
    <h2>会員一覧（消費者）</h2>

      <table class="table">
        <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
             <%= link_to "#{customer.name} ", admin_customer_path(customer) %>
            </td>
            <td><%= customer.email %></td>
          <td class="<%= customer.is_deleted ? 'text-gray' : 'text-green' %>"><%= customer.is_deleted ? '退会済み' : '有効' %></td>
          </tr>
        <% end %>
      </table>
      <%#= paginate @customers %>
    </div>
  </div>