<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-2">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete,class: "btn btn-danger btn-sm", data: { confirm: '本当に空にしますか？' } %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>商品名</td>
          <td>単価（税込）</td>
          <td>数量</td>
          <td>小計</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @total = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <img src="<%= url_for(cart_item.item.item_image) %>" width="70" height="60" />
            <%= cart_item.item.name %>
          </td>
          <td><%= cart_item.item.price_including_tax %></td>
          <td>
            <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
            <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], id: "quantity_cart" %>
            <%= f.submit "変更",class: "btn btn-success" %>
            <% end %>
          </td>
          <td><%= cart_item.item.price_including_tax * cart_item.quantity %></td>
          <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete,class: "btn btn-danger btn-sm", data: { confirm: '本当に削除しますか？' } %></td>
        </tr>
        <% @total += cart_item.subtotal %>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <%= link_to '買い物を続ける', root_path, class: "btn btn-primary" %>
    </div>
    <div class="cok-3">
      <%# @cart_items.each do |cart_item| %>
      <table border="1">
        <tr>
          <td width="120" height="100">合計金額</td>
          <td width="120"><%= @total %></td>
        </tr>
      </table>
      <%# end %>
    </div>
  </div>
  <br>
  <div class = "col-xs-4 col-xs-offset-4">
    <div align="center">
      <% if @cart_items.any? %>
      <%= link_to "情報入力に進む", new_cart_item_order_path(@cart_items), class: "col-xs-12 btn btn-success"%>
      <% else %>
      <p>お客様のショッピングカートに商品はありませんので注文確定ができません。</p>
      <p><%= link_to "商品一覧", items_path %>から商品をお探し下さい。</p>
      <% end %>
    </div>
  </div>
</div>