<div class="container">
  <h2>消費者ログイン</h2><br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "mb-5"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3 row">
        <label for="inputEmail" class="col-md-2 col-form-label">メールアドレス</label>
        <div class="col-md-10">
          <%= f.text_field :email, class: "form-control", id: "staticEmail" %>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="inputPassword" class="col-md-2 col-form-label">パスワード</label>
        <div class="col-md-10">
          <%= f.password_field :password, class: "form-control", id: "inputPassword" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>

      <div class="form-group">
        <%= render "exective/shared/links" %>
      </div>
</div>
